<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <div class="container">
        <h1 class="brand"><span>S<span>R</span>SS</span>CSV Entry</h1>
        <div class="wrapper animated fadeIn">
            <div class="company-info">
                <h3>SRSS CSV Entry</h3>
                <ul>
                    <li><i class="fa fa-road"></i> 17501 W Willard Rd, Poolesville, MD 20837</li>
                    <li><i class="fa fa-phone"></i> (240) 740-2400</li>
                    <li><i class="fa fa-envelope"></i> srss.smcs2021@gmail.com</li>
                </ul>
            </div>
            <div class="contact">
                <div class="<%= styleClass %>"><%= msg %></div>
                <div class="text-center">
                    <a href="/index" class="btn btn-secondary">Home</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>