<!DOCTYPE html>
<html>

<head>
   <% include partials/head %>
   <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>

   <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
         apiKey: "AIzaSyCCgoy1_bJzrruepLYIWBbrIUIGxM-p2CQ",
         authDomain: "signup-form-e4c78.firebaseapp.com",
         databaseURL: "https://signup-form-e4c78.firebaseio.com",
         projectId: "signup-form-e4c78",
         storageBucket: "signup-form-e4c78.appspot.com",
         messagingSenderId: "1000336889334",
         appId: "1:1000336889334:web:f5099e3a8ecc1584"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
   </script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script type="text/javascript">
      $(document).ready(function () {
         $('#saveButton').click(() => {
            console.log("Writing to firebase")
            database.ref('settings/').update({

               maxCap: $('input[id="maxCap"]').val()

            });
            $('input[id="maxCap"]').val('');
         });
         const database = firebase.database();
        
         $('#resetButton').click(() => {
           $('#warnModal').modal('show');
            database.ref('signup-form-e4c78/').remove();
            console.log("Yaya");
            /*database.ref('tickets/').remove();
            database.ref('settings/').remove();
            database.ref('students/').remove();
            database.ref('obligations/').remove()
            database.ref('settings/currentNum').set("0");
            $('input[id="maxCap"]').val('');*/


         });
         $('#resetSettings').click(() => {
           
            database.ref('settings/').remove();

            database.ref('settings/currentNum').set("0");

         });

     });


   </script>

</head>

<style>
   #maxCap {
      max-width: 200px;
   }
   form {
      padding-left: 10px;
   }

   .sr {

      padding-top: 20px;
   }

   .files {
      padding-top: 20px;
   }
</style>



<body>
   <% include partials/header %>
   <form>
      <div class="container mt-4 ">
         <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
               <div class="card">
                  <div class="card-header">
                     <div class="card-title">
                        <h5>Settings</h5>
                     </div>
                     <div class="card-text">
                        <div class="form-group">
                           <label>Maximum Ticket Capacity: </label>
                           <input class="form-control" type="number" id="maxCap" size="10"></input>
                        </div>
                        <div class="form-group ">
                           <!--<button class="btn btn-primary" id="import" onclick="window.location.href='/upload'">Import
                              files</button>-->
                           <button class="btn btn-warning" type="button" id="resetButton">Reset database</button>
                           <button class=" btn btn-warning" type="button" id="resetSettings">Reset settings</button>
                        </div>
                        <div class="form-group text-center">
                           <button class="btn btn-lg btn-success" id="saveButton">Save</button>
                           <a href="/" class="float-left btn-lg btn-secondary" id="backButton"><i class="fa fa-chevron-left"></i> Back </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-3">
            </div>
         </div>
      </div>
      
   </form>
   !-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade"  role="dialog">
  <div class="modal-dialog modal-dialog-centered">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
   integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
      crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
   integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
      crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
   integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
      crossorigin="anonymous"></script>
</body>
</html>